<div class="container">
  <div class="show_wrapper">
    <div class="result_content">
      <p><%= @answer.name %>さん、5問中<%= @answer.correct %>問正解です。</p>
      <p><%= @message %></p>
      <div class="link">
        <div class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button"
          data-url="https://musiqqq.herokuapp.com/keyword"
          data-via=""
          data-text="<%= @artist.name %>の曲当てクイズに5問中<%= @answer.correct %>問正解しました！秘密の合言葉は<%= @keyword.keyword %>です。#musiQ"
          data-related=""
          data-count=""
          data-lang=""
          data-counturl=""
          data-hashtags=""
          data-size="large"
          >ツイート</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>
