<header>
  <div class="header-center">
    <%= link_to("musiQ", root_path, :style=>"font-family: Lato,YuGothic, Helvetica Neue , Helvetica, Arial, Sans-Serif; text-decoration: none; color:white;") %>
    <i class="fas fa-bars menu-btn1"></i>
  </div>
  <div class="header-menu">
    <ul>
      <%if current_user == nil %>
        <li>
          <%= link_to("新規登録", new_user_path, :class=>"header-btn",:style=>"text-decoration: none; color:white; ")%>
        </li>
        <li>
          <%= link_to("ログイン", new_session_path, :style=>" text-decoration: none; color:white;") %>
        </li>
        <li>
          <%= link_to("答えてあそぶ", keyword_path, :style=>"text-decoration: none; color:white;") %>
        </li>
      <%end %>
      <%if current_user != nil %>
        <li>
          <%if @post_counter < 5 %>
            <%= link_to("作ってあそぶ", new_post_path, :style=> "text-decoration: none; color:white;") %>
          <% end %>
          <%if @post_counter >= 5 %>
            <%= link_to("作ってあそぶ", post_destroy_path, :confirm => "本当に削除しますか?", method: :post, :style=> "text-decoration: none; color:white;")  %>
          <% end %>
        </li>
        <li>
          <%= link_to("答えてあそぶ", keyword_path, :style=>"text-decoration: none; color:white;") %>
        </li>
        <li>
          <%= link_to("ログアウト", session_path, method: :delete, :style=> "text-decoration: none; color:white;") %>
        </li>
      <%end %>
    </ul>
  </div>
  <div class="flash">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
</header>
